## Finding the Statistics Percentile , Range , Quartiles

### Import file

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('HW1_data.csv')
df.head()

   Year  Cheese Consumption (Pounds)  Degrees Awarded
0  2000                          9.3              480
1  2001                          9.7              501
2  2002                          9.7              540
3  2004                          9.9              547
4  2003                          9.7              552

### Seperating column for analysis

In [2]:
cheese_consumpt = df['Cheese Consumption (Pounds)']
degrees_awarded = df['Degrees Awarded']
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

cheese_consumpt
degrees_awarded

0    480
1    501
2    540
3    547
4    552
5    622
6    655
7    701
8    708
9    712
Name: Degrees Awarded, dtype: int64

### Calculating the Q1, Q3, IQR for Cheese Consumption & Degrees awarded

In [3]:
# for Cheese Consumption
median_cc = np.median(cheese_consumpt)
Q1_cc = np.median(cheese_consumpt[:5])
Q3_cc = np.median(cheese_consumpt[5:])

# for Degrees Awarded
median_da = np.median(degrees_awarded)
Q1_da = np.median(degrees_awarded[:5])
Q3_da = np.median(degrees_awarded[5:])

median_cc, Q1_cc, Q3_cc
median_da, Q1_da, Q3_da

(10.05, 9.7, 10.6)

(587.0, 540.0, 701.0)

### Calculating the outliers range [Q1 - k\*IQR  ,  Q3 + k\*IQR]

In [4]:
k = 1.5

# for Cheese Consumption
IQR_cc = Q3_cc - Q1_cc
outliers_cc = [Q1_cc - k*IQR_cc, Q3_cc + k*IQR_cc]
# need to round values
outliers_cc = [
    round(num, 2) 
    for num in outliers_cc
]

# for Degrees Awarded
IQR_da = Q3_da - Q1_da
outliers_da = (Q1_da - k*IQR_da, Q3_da + k*IQR_da)

outliers_cc
outliers_da

[8.35, 11.95]

(298.5, 942.5)

### Find Correlation coefficient

In [5]:
# Calculatin the mean
mean_cc = cheese_consumpt.mean()
mean_da = degrees_awarded.mean()

mean_cc
mean_da

10.12

601.8

In [10]:
num = 0
for index in range(len(degrees_awarded)):
    num += ((cheese_consumpt[index] - mean_cc)*(degrees_awarded[index] - mean_da))
#     print(round(num, 3))
  
    
den1 = 0
for index in range(len(degrees_awarded)):
    den1 += np.square(cheese_consumpt[index] - mean_cc)
#     print(round(den1, 3))
    
den1 = np.sqrt(den1)


den2 = 0
for index in range(len(degrees_awarded)):
    den2 += np.square(degrees_awarded[index] - mean_da)
#     print(round(den2, 3))
    
den2 = np.sqrt(den2)


corr_value = num/(den1*den2)
corr_value

0.9586477872804797